phonesensor_full.json
[
    {
        "id": "1b8d49a7.1ad456",
        "type": "ibmiot in",
        "z": "e387e98e.478dc8",
        "authentication": "quickstart",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "494169791185",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "quickstart",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 76.75001525878906,
        "y": 94.02774047851562,
        "wires": [
            [
                "545aa267.b380a4",
                "bff7cdbd.652c78",
                "fcda173.9b1d168"
            ]
        ]
    },
    {
        "id": "3fba4abe.57d6c6",
        "type": "debug",
        "z": "e387e98e.478dc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 488.2222023010254,
        "y": 246.66664123535156,
        "wires": []
    },
    {
        "id": "545aa267.b380a4",
        "type": "function",
        "z": "e387e98e.478dc8",
        "name": "tiltLR取得",
        "func": "return {payload:msg.payload.d.tiltLR};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 255.55556106567383,
        "y": 94.5555248260498,
        "wires": [
            [
                "ee966e8d.961a48"
            ]
        ]
    },
    {
        "id": "ee966e8d.961a48",
        "type": "switch",
        "z": "e387e98e.478dc8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "-5",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 158.2222023010254,
        "y": 246.66664123535156,
        "wires": [
            [
                "4d09fd9e.9a0d14"
            ],
            [
                "a1464f27.dd1e3"
            ],
            [
                "877a4ece.e4e418"
            ]
        ]
    },
    {
        "id": "4d09fd9e.9a0d14",
        "type": "template",
        "z": "e387e98e.478dc8",
        "name": "左",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "左に傾いています！ {{payload}}度",
        "x": 310.2222023010254,
        "y": 208.66664123535156,
        "wires": [
            [
                "3fba4abe.57d6c6"
            ]
        ]
    },
    {
        "id": "a1464f27.dd1e3",
        "type": "template",
        "z": "e387e98e.478dc8",
        "name": "右",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "右に傾いています！ {{payload}}度",
        "x": 308.2222023010254,
        "y": 246.66664123535156,
        "wires": [
            [
                "3fba4abe.57d6c6"
            ]
        ]
    },
    {
        "id": "877a4ece.e4e418",
        "type": "template",
        "z": "e387e98e.478dc8",
        "name": "フラット",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ほぼフラットです {{payload}}度",
        "x": 309.1110534667969,
        "y": 284.7777328491211,
        "wires": [
            [
                "3fba4abe.57d6c6"
            ]
        ]
    },
    {
        "id": "bff7cdbd.652c78",
        "type": "cloudant out",
        "z": "e387e98e.478dc8",
        "name": "",
        "cloudant": "",
        "database": "sensor",
        "service": "IoTHandsOnServerv-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 307.4444580078125,
        "y": 342,
        "wires": []
    },
    {
        "id": "d16a1b77.84d17",
        "type": "http in",
        "z": "e387e98e.478dc8",
        "name": "",
        "url": "/sensor",
        "method": "get",
        "swaggerDoc": "",
        "x": 216,
        "y": 398,
        "wires": [
            [
                "991dc07b.c63af"
            ]
        ]
    },
    {
        "id": "a7bc8b08.939218",
        "type": "http response",
        "z": "e387e98e.478dc8",
        "name": "",
        "x": 462,
        "y": 396,
        "wires": []
    },
    {
        "id": "991dc07b.c63af",
        "type": "template",
        "z": "e387e98e.478dc8",
        "name": "センサー可視化",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n   <title>センサーデータ可視化アプリ</title>\n\n   <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n   <script type=\"text/javascript\">\n\t    \n      var wsUrl = \"wss://\" + window.location.host + \"/ws/sensor\";\n      \n      var socket;\n      var tiltData, accelData;\n      var tiltOptions, accelOptions;\n      var tiltChart, accelChart;\n      \n      // Google Gauge\n        google.charts.load('current', {packages: ['gauge']});\n  \tgoogle.charts.setOnLoadCallback(drawChart);\n\t    \n      function drawChart() {\n        // Data for tilt chart\n        tiltData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['左右傾き', 0],\n          ['前後傾き', 0]\n        ]);\n        \n        // Data for accel chart\n        accelData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['x軸加速度', 0]\n        ]);\n        \n        // Option for tilt chart\n        // If you want to set other options, please refer to https://developers.google.com/chart/interactive/docs/gallery/gauge\n        tiltOptions = {\n          width: 600, height: 180,\n          min: -90, max: 90,\n          redFrom: 70, redTo: 90,\n          yellowFrom:60, yellowTo: 70,\n          minorTicks: 5\n        };\n\n\n        // Option for accel chart\n        accelOptions = {\n          width: 600, height: 180,\n          min: -15, max: 15,\n          redFrom: 10, redTo: 15,\n          yellowFrom:7, yellowTo: 10,\n          minorTicks: 1\n        };\n        \n        tiltChart = new google.visualization.Gauge(document.getElementById('tiltChart'));\n        accelChart = new google.visualization.Gauge(document.getElementById('accelChart'));\n        \n        tiltChart.draw(tiltData, tiltOptions);\n        accelChart.draw(accelData, accelOptions);\n      };\n      \n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n          \n          // Update temperature data\n          tiltData.setValue(0, 1, sensorData.tiltLR);\n          tiltData.setValue(1, 1, sensorData.tiltFB);\n          \n          // Update humidity data\n          accelData.setValue(0, 1, sensorData.accelX);\n          \n          tiltChart.draw(tiltData, tiltOptions);\n          accelChart.draw(accelData, accelOptions);\n        };\n      };\n      \n      function disconnect() {\n        socket.close();\n      };\n        \n   </script>\n\n<style>\n  body {\n    background-color: #26343F;\n  }\n  .main {\n    background-size: 100%;\n    background-repeat: repeat-x;\n    background: linear-gradient(to top right, rgba(29, 54, 73, 1), rgba(45, 63, 74, 0.98)), url(http://roadshow.mybluemix.net/images/i-l-pattern.png);\n    padding-left:30px; \n  }\n  .logo {\n    font-size:16px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:12px; \n    padding-left:10px; \n    margin-bottom:15px;\n    display:inline-block;\n\t}\n  .title {\n    font-size:48px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:20px; \n    padding-left:40px; \n    margin-bottom:0px;\n    display:inline-block;\n\t}\n  .sub-title {\n    font-size:24px; \n    color: #41D6C3;\n    font-family: sans-serif;\n    margin-top:10px; \n    padding-left:40px; \n    margin-bottom:10px;\n    display:block;\n\t}\n</style>\n</head>\n<body>\n\t<span class=\"logo\" >IBM <b>Bluemix</b></span>\n\t<section class=\"main\">\t\t\n\t\t<div class=\"title\">センサーデータ可視化アプリ</div>\n\t\t<div class=\"sub-title\">Powered by Node-RED</div>\n\t\n        <button onclick=\"connect()\">接続</button>\n        <button onclick=\"disconnect()\">切断</button>\n        \n  <table class=\"columns\">\n    <tr>\n      <td>\n        <div id=\"tiltChart\" style=\"width: 600px; height: 180px;\"></div>\n      </td>\n    </tr>\n    <tr>\n      <td>\n        <div id=\"accelChart\" style=\"width: 600px; height: 180px;\"></div>\n      </td>\n    </tr>\n  </table>\n\n</section>\n    \t<span class=\"logo\" >Strategic Alliance, IBM Japan</span>\n</body>\n</html>\n",
        "x": 354,
        "y": 471,
        "wires": [
            [
                "a7bc8b08.939218"
            ]
        ]
    },
    {
        "id": "fcda173.9b1d168",
        "type": "function",
        "z": "e387e98e.478dc8",
        "name": "",
        "func": "msg.payload = {\n    \"tiltLR\": msg.payload.d.tiltLR,\n    \"tiltFB\": msg.payload.d.tiltFB,\n    \"accelX\": msg.payload.d.accelX\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 153,
        "y": 537.5,
        "wires": [
            [
                "5dbaa31c.c49f74"
            ]
        ]
    },
    {
        "id": "5dbaa31c.c49f74",
        "type": "websocket out",
        "z": "e387e98e.478dc8",
        "name": "",
        "server": "2c7c5f32.7e8cc8",
        "client": "",
        "x": 344,
        "y": 538,
        "wires": []
    },
    {
        "id": "2c7c5f32.7e8cc8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/sensor",
        "wholemsg": "false"
    }
]
