VRsample
[
    {
        "id": "a9ba77c7.5defb8",
        "type": "tab",
        "label": "フロー 13"
    },
    {
        "id": "e1caca3a.d6f8b",
        "type": "visual-recognition-v3",
        "z": "a9ba77c7.5defb8",
        "name": "",
        "apikey": "",
        "image-feature": "classifyImage",
        "lang": "ja",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "b76a6958.29a388",
                "50fcecec.7609f4"
            ]
        ]
    },
    {
        "id": "276099d8.3f2f3e",
        "type": "http in",
        "z": "a9ba77c7.5defb8",
        "name": "",
        "url": "/vr",
        "method": "get",
        "swaggerDoc": "",
        "x": 71,
        "y": 177,
        "wires": [
            [
                "ff0d6c1.5cd1b1"
            ]
        ]
    },
    {
        "id": "613de70e.182ec8",
        "type": "http response",
        "z": "a9ba77c7.5defb8",
        "name": "HTTP Response",
        "x": 654,
        "y": 177,
        "wires": []
    },
    {
        "id": "ff0d6c1.5cd1b1",
        "type": "switch",
        "z": "a9ba77c7.5defb8",
        "name": "画像URL確認",
        "property": "payload.imageurl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 251,
        "y": 127,
        "wires": [
            [
                "28115f48.5e695"
            ],
            [
                "5b6075cf.07f304"
            ]
        ]
    },
    {
        "id": "28115f48.5e695",
        "type": "template",
        "z": "a9ba77c7.5defb8",
        "name": "画像URL取得",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n\t<title>Watson Visual Recognitionによる画像解析結果</title>\n<style>\n  body {\n    background-color: #26343F;\n  }\n  .main {\n    background-size: 100%;\n    background-repeat: repeat-x;\n    background: linear-gradient(to top right, rgba(29, 54, 73, 1), rgba(45, 63, 74, 0.98)), url(http://roadshow.mybluemix.net/images/i-l-pattern.png);\n    padding-left:30px; \n  }\n  .logo {\n    font-size:16px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:12px; \n    padding-left:10px; \n    margin-bottom:15px;\n    display:inline-block;\n\t}\n  .title {\n    font-size:48px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:20px; \n    padding-left:40px; \n    margin-bottom:0px;\n    display:inline-block;\n\t}\n  .sub-title {\n    font-size:24px; \n    color: #41D6C3;\n    font-family: sans-serif;\n    margin-top:10px; \n    padding-left:40px; \n    margin-bottom:10px;\n    display:block;\n\t}\n</style>\n</head>\n<body>\n\t<span class=\"logo\" >IBM <b>Bluemix</b></span>\n\t<section class=\"main\">\t\t\n\t\t<div class=\"title\">Watson Visual Recognitionによる画像解析</div>\n\t\t<div class=\"sub-title\">Powered by Node-RED</div>\n\t\n\t<span class=\"logo\" >サンプル画像です。右クリックしてURLをコピーしてください。</span>\n        \n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\" height='150'/></a>\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\" height='150'/></a>\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\" height='150'/></a>\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/6.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/6.jpg\" height='150'/></a>\n    <br>\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\" height='150'/></a>\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\" height='150'/></a>\n    <a href=\"https://visual-recognition-demo.mybluemix.net/images/samples/7.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/7.jpg\" height='150'/></a>\n    <hr>\n    <span class=\"logo\" >画像のURLを入力してください:</span>\n    <input type=\"text\" name=\"imageurl\" size=\"60\"/>\n    <input type=\"submit\" value=\"画像解析\"/>\n</form>\n</section>\n    \t<span class=\"logo\" >IBM Cognitive Workshop</span>\n</body>\n</html>",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "613de70e.182ec8"
            ]
        ]
    },
    {
        "id": "b76a6958.29a388",
        "type": "template",
        "z": "a9ba77c7.5defb8",
        "name": "解析結果表示",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n\t<title>Watson Visual Recognitionによる画像解析結果</title>\n<style>\n  body {\n    background-color: #26343F;\n  }\n  .main {\n    background-size: 100%;\n    background-repeat: repeat-x;\n    background: linear-gradient(to top right, rgba(29, 54, 73, 1), rgba(45, 63, 74, 0.98)), url(http://roadshow.mybluemix.net/images/i-l-pattern.png);\n    padding-left:30px; \n  }\n  .logo {\n    font-size:16px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:12px; \n    padding-left:10px; \n    margin-bottom:15px;\n    display:inline-block;\n\t}\n  .title {\n    font-size:48px; \n    color: white;\n    font-family: sans-serif;\n    margin-top:20px; \n    padding-left:40px; \n    margin-bottom:0px;\n    display:inline-block;\n\t}\n  .sub-title {\n    font-size:24px; \n    color: #41D6C3;\n    font-family: sans-serif;\n    margin-top:10px; \n    padding-left:40px; \n    margin-bottom:10px;\n    display:block;\n\t}\n    table{\n    width: 60%;\n    border-collapse: collapse;\n    }\n    th{\n    width: 25%;\n    padding: 6px;\n    text-align: left;\n    vertical-align: top;\n    color: #333;\n    background-color: #eee;\n    border: 1px solid #b9b9b9;\n    }\n    td{\n    padding: 6px;\n    background-color: #fff;\n    border: 1px solid #b9b9b9;\n    }\n</style>\n</head>\n<body>\n\t<span class=\"logo\" >IBM <b>Bluemix</b></span>\n\t<section class=\"main\">\t\t\n\t\t<div class=\"title\">Watson Visual Recognitionによる画像解析</div>\n\t\t<div class=\"sub-title\">Powered by Node-RED</div>\n\t\n\t<span class=\"logo\" >分析対象画像 : {{payload}}</span><br/><img src=\"{{payload}}\" height='150'/>\n        \n<table>\n    <thead><tr><th>分類</th><th>確信度</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}<br>{{type_hierarchy}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"戻る\"/>\n</form>\n\n</section>\n    \t<span class=\"logo\" >IBM Cognitive Workshop</span>\n</body>\n</html>",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "613de70e.182ec8"
            ]
        ]
    },
    {
        "id": "5b6075cf.07f304",
        "type": "change",
        "z": "a9ba77c7.5defb8",
        "name": "画像URLをVRに送る",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.imageurl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "e1caca3a.d6f8b"
            ]
        ]
    },
    {
        "id": "50fcecec.7609f4",
        "type": "debug",
        "z": "a9ba77c7.5defb8",
        "name": "debug",
        "active": true,
        "console": "false",
        "complete": "result.images[0].classifiers[0]",
        "x": 590,
        "y": 320,
        "wires": []
    }
]
